body{
    background-color: rgb(26, 177, 204);
}

#formulario{
    width: 300px;
    height: 700px;
    background-color: burlywood;
    margin: auto;
    padding: 0px;
    text-align: center;
    
    
}

#formulario input{
    padding: 10px;  
    margin-bottom:10px;
    border-radius: 4px;
    text-align: center;
    

    
}
#formulario h1{
    padding-top:px ;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input[type ='email']{
    background-color: rgb(17, 17, 17);
}