body{
    background-color: rgb(26, 177, 204);
}

#formulario{
    width: 300px;
    height: 700px;
    background-color: burlywood;
    margin: auto;
    padding: 0px;
    text-align: center;
    
    
}

#formulario input{
    padding: 10px;  
    margin-bottom:10px;
    border-radius: 4px;
    text-align: center;
    

    
}

/*
al acceder al selector id h1 se modifican todos los h1 contenidos en "formulario"

*/

#formulario h1{
    padding-top:px ;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input[type ='email']{
    background-color: rgb(220, 221, 221);
}

input[type = 'submit']{
    margin-top: 20px;
    background-color: rgb(26, 177, 204);
    box-shadow: 3px 3px 3px darkblue;
    
}

/*
El box-shadow sirve para dar una sombra a la caja 


*/

input[type= 'submit']:hover{
    cursor:pointer ;
    opacity: 60%;
    
}

/*
Con esta manera de trabajar todas las etiquetas input de type email serán afectadas!



*/